/*
 * #f0f7f4 - white
 * #7e8d85 - grey
 * #3c493f - dark green
 *
 */

body {
    background-color: #7e8d85;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#main-header {
    background-color: #7e8d85;
    color: #f0f7f4;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 1em;
}

#main-header > h1 {
    font-size: 6em;
    margin: 0;
    margin-top: .2em;
}

#main-header > small {
    font-size: 1.5em;
}

#topics {
	margin-left: 1em;
	margin-right: 1em;
}

#topics h1 {
    font-size: 2em;
    color: #3c493f;
    margin: 0;
}

#topics {
    line-height: 1.5em;
    background-color: #f0f7f4;
    border-radius: .3em;
}

#topics > section {
    padding-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

#topics > section:last-child {
    padding-bottom: 1.5em;
}

@media(min-width: 768px) {
    #topics {
        margin-left: 25%;
        margin-right: 25%;
    }
    #main-header >h1 {
    	font-size: 12em;
    }
}

body > section > footer {
    text-align: center;
    color: #f0f7f4;
}